@import "bootstrap";


//
// img{
// 	max-height: 200px;
// }


.cardpic {
  width: 20em;
  object-fit: fit;
  margin: auto;
}

.navbarfonts {
  @media only screen and (max-width : 500px) {
    font-size: .75em;
   }

}



.undertext {
  font-size: .5em;
}
